@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body{
	font-family: 'Noto Sans JP', sans-serif;
	letter-spacing:2px;
	margin:0;
	background-color: #1F2937;
	color:#10B981;
	

}

header, #postHeader,#postHeader2 {
	background-color: #10B981;
	color:#1F2937;
	text-align:center;
	padding:160px;
	font-family: 'Indie Flower', cursive;
}
	
header h1{	
	font-family: 'Indie Flower', cursive;
	margin-bottom:-30px;
}
	
#postHeader,#postHeader2 {
	margin:-25px 0 0 0;
	background-color: #1F2937;
	color:#10B981;
	/* font-size:20px; */
}

#selector {
	padding:10px 20px;
	font-size:20px;
	/* min-width:360px; */
}
	
#postHeader2{
	padding:30px 0 0 0;
	background-color: #10B981;
	color:#1F2937;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}	
	
#postHeader2 *{
	margin:0px 0px 50px 0px;
}	
	
#input-txt {
	height:200px;
	padding:20px;
	font-size:20px;
	box-sizing: border-box;
	/* min-width:360px; */
}

#translate-it {
	padding:20px;
	/* min-width:360px; */
	font-family: 'Indie Flower', cursive;
	font-weight:bold;
	cursor:pointer;
	letter-spacing:10px;
	background-color:#cc7722 ;
}

#translate-it h1 {
	padding:0;
	margin:0;
}

#output-text{
	height:200px;
	background-color:white;
	padding:20px;
	/* min-width:320px; */
	font-size:40px;
	text-align:left;
	box-sizing: border-box;
}
	
select, #input-txt, #translate-it, #postheader2 h2, #output-text {
	width: 80vw;
}

footer {
	text-align:center;
}

footer a {
	color:#10B981;
}

@media screen and (max-width: 1000px) {
	header, #postheader {
		padding:160px 50px;
	}
	#postHeader2 {
		padding:30px 50px 0 50px;
	}
}
	
@media screen and (max-width: 500px) {
	header, #postHeader {
		padding: 150px 20px;
	}
	#translate-it {
		padding: 0;
		height: 60px;
	}
	#input-txt, #output-text {
		box-sizing: border-box;
		padding: 10px;
		height: 200px;
	}
}
	
	
	
	
	
	
	
	
	
	
	
	